<div *ngIf="selectedProfessor">
  <app-title [title]="(selectedProfessor.id <= 0 ? 'Novo Professor' : 'Código do Professor: ' + selectedProfessor.id)">
    <button class="btn btn-warning" (click)="unselectProfessor()">
      Voltar
    </button>
  </app-title>

  <form [formGroup]="professorForm" (submit)="submit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nome</label>
      <input type="text" formControlName="name" class="form-control">
    </div>
    <!-- <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Disiciplina</label>
      <input type="text" value="{{ selectedProfessor.subject }}" class="form-control">
    </div> -->
    <div class="mb-3">
      <button class="btn btn-success" [disabled]="professorForm.invalid">
        Salvar
      </button>
    </div>
  </form>
</div>

<div *ngIf="!selectedProfessor">
  <app-title [title]="title">
    <button class="btn btn-success" (click)="createProfessor()">
      Cadastrar Professor
    </button>
  </app-title>

  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">Visualizar</th>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Disciplina</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prof of professors">
        <td>
          <button (click)="selectProfessor(prof)" class="btn btn-sm btn-warning">
            Detalhes
          </button>
        </td>
        <th scope="row">{{ prof.id }}</th>
        <td>{{ prof.name }}</td>
        <td>{{ prof.subject }}</td>
        <td>
          <div class="btn-group">
            <button (click)="openModal(template)" class="btn btn-sm btn-outline-primary">
              Alunos
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #template>
  <div class="modal-body">
    TDB
  </div>
  <div class="modal-footer">
    <button type="button" class="btn close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      FECHAR
    </button>
  </div>
</ng-template>